### Sales Analysis

#### Import necessary libraries

In [2]:
import pandas as pd
import glob as glob

#### Task 1 - Merging 12 months of sales data into a single file

In [3]:
path = "C:\\Users\\Vitor Esteves\\Documents\\Pandas-Data-Science-Tasks\\SalesAnalysis\\Sales_Data"

In [6]:
files = []
for file in glob.glob(path + "\*.csv"):
    files.append(file)

In [16]:
# joining files with concat and read_csv
all_months_data = pd.concat(map(pd.read_csv, files), ignore_index=True)
all_months_data = all_months_data.dropna()
all_months_data.to_csv("all_data.csv", index=False)

In [17]:
all_months_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

#### Question 1: What was the best month for sales? How much was earned that month?